#page-home {

  .section-about-us {

    .im-01 {
      width: 100%;
      height: auto;
      box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.15);
    }

    .section-content {

      h2.section-title {
        color: #000000;
        margin-bottom: 2rem;
      }

      p {
        color: #464646;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 2rem;
      }

      button {
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        border-width: 0.125rem;
        padding: 1rem 3rem;
      }
    }

    .deco-01 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 40rem;
      height: auto;
      transform: translateY(-50%);
    }
  }
}
