.block-feature {
  text-align: center;

  .thumbnail {
    position: relative;
    margin-bottom: 1.25rem;

    .img {
      max-width: 16rem;
      height: auto;
      border: 1px solid #e2e2e2;
      border-radius: 50%;
      padding: 1rem;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4.25rem;
      height: 4.25rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      .icon {
        width: 1.5rem;
        height: auto;
      }
    }
  }

  .line {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #bea67c;
    margin: 0 auto 1rem;
  }

  h6.block-title {
    color: #000000;
    font-size: 1rem;
  }
}
